dj-database-url==0.5.0
Django==2.1.2
django-cors-headers==2.4.0
djangorestframework==3.9.0
guacamole==0.9.2
gunicorn==19.9.0
onboard==1.2.0
padme==1.1.1
pexpect==4.0.1
Pillow==3.1.2

ubuntu-drivers-common==0.0.0

